<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/layout/frame_public}">

<body>
<div layout:fragment="page-content">
    <script th:src="@{/script/admin_script.js}"></script>


    <!-- Modal container -->
    <div class="col-md-12">
        <div id="modal_holder"></div>
    </div>

    <!-- Page title -->
    <div class="page-title my-4 mx-2">
        <div class="row justify-content-between align-items-center">
            <!-- Page title + Go Back button -->
            <div class="d-inline-block p-1">

                <div class="row">

                    <h4 class="font-weight-400 col-auto mb-0 text-white ml-1">[[#{admin.adminpanel}]]</h4>

                </div>
            </div>

        </div>
    </div>

    <!-- Listing -->
    <div class="card">
        <!--        &lt;!&ndash; Card header &ndash;&gt;-->
        <!--        <div class="card-header actions-toolbar">-->
        <!--            <div class="row justify-content-between">-->

        <!--            </div>-->
        <!--        </div>-->
        <!-- ./Card header -->


        <!-- Table -->

        <div class="table-responsive">
            <table class="table" id="user_table" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th th:text="#{user.icon}">Icon</th>
                    <th th:text="#{user.username}">Username</th>
                    <th th:text="#{user.role}">Role</th>
                    <th th:text="#{common.action}">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>

    <script th:inline="javascript">
        $(document).ready(function () {
            $('#user_table').DataTable({
                "language": {
                    "emptyTable": "No data available in table"
                },
                "columns": [
                    {
                        "data": "pic",
                        "render": function (data, type, row, meta) {
                            console.log(row)
                            if (row.pic) {
                                return '<img class="avatar  rounded-circle" src="data:image/;base64,' +
                                    row.pic + '"/>';
                            }
                            return '<img class="avatar  rounded-circle" src="[(@{/dist/img/icons/user/user.png})]"/>';
                        }
                    },
                    {
                        "data": "username",
                        "render": function (data, type, row, meta) {
                            return '<a href="[(@{/administration/overview})]/' + row.id + '" class="name mb-0 h6 text-md">' + row.username + '</a>';
                        }
                    },
                    {
                        "data": "role.name",
                        "render": function (data, type, row, meta) {
                            return '<span class="badge badge-dot mr-4"> ' + row.role.name + '</span>';
                        }
                    },
                    {
                        "data": "action",
                        "searchable": false,
                        "sortable": false,
                        "defaultContent": "",
                        "render": function (data, type, row, meta) {
                            return '<a href="#" data-toggle="tooltip" title="Delete" onclick="displayalert(\'[(@{/administration/delete})]' + '/' +row.id + '\')"><i class="fas fa-trash"></a>';
                        }
                    }
                ],
                "ajax": {
                    "url": "[(@{/administration/findallpaginated})]",
                },
            });
        });
    </script>


</div>
</body>

</html>