<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="form" title="group-container">
		<form th:action="@{/answers/create}" method="post"
			th:object="${surveyanswer}">
			<input type="hidden" th:field="*{survey}">
			<!-- Iterate Question Groups -->
			<div th:each="group, groupStat : ${survey.questionGroups}">
				<div class="row">
					<div class="col-10">
						<h5 class="mb-1 p-1">[[${groupStat.index+1}+'.
							'+${group.title}]]</h5>
						<h6 class="text-muted mb-3 p-1">[[${group.description}]]</h6>
					</div>
				</div>

				<div class="card border mb-0 shadow-none bg-gray-100">
					<div
						class="card-body row align-items-center mx-2 justify-content-center">
						<!-- Iterate questions of the group -->
						<div class="col-12"
							th:each="question, questionStat : ${survey.questionGroups[__${groupStat.index}__].questions}">

							<div class="row align-items-center mx-0 justify-content-center">
								<div class="col-10 card border shadow-none p-3">
									<!-- TITLE -->
									<div class="m-1">
										<h6 class="mb-0"
											th:text="${questionStat.index+1}+'. '+${question.title}"></h6>
									</div>
									<!-- Show image if exists -->
									<div class="m-5" th:if="${question.file != null}">
										<img th:src="${'data:image/png;base64,'+question.file.data}"
											width="50%">
									</div>
									<div class="row">
										<div class="col-10 mx-1 px-2 py-3">

											<!-- If Input Question -->
											<div
												th:if="${question instanceof T(it.univaq.disim.mwt.apollo.domain.questions.InputQuestion)}"
												th:replace="~{common/user_view/components/text_question :: question(question=${question}, stat=${questionStat})}">
											</div>

											<!-- If Choice Question -->
											<div
												th:if="${question instanceof T(it.univaq.disim.mwt.apollo.domain.questions.ChoiceQuestion)}">
												<!-- If Radio -->
												<div
													th:if="${question.choiceType == T(it.univaq.disim.mwt.apollo.domain.questions.ChoiceType).RADIO}"
													th:replace="~{common/user_view/components/radio_question.html :: question(question=${question}, stat=${questionStat})}">
												</div>
												<!-- If Check -->
												<div
													th:if="${question.choiceType == T(it.univaq.disim.mwt.apollo.domain.questions.ChoiceType).CHECK}"
													th:replace="~{common/user_view/components/check_question.html :: question(question=${question}, stat=${questionStat})}">
												</div>
											</div>
											<!-- If Select Question -->
											<div
												th:if="${question instanceof T(it.univaq.disim.mwt.apollo.domain.questions.SelectionQuestion)}"
												th:replace="~{common/user_view/components/select_question.html :: question(question=${question}, stat=${questionStat})}">
											</div>
											<!-- If Matrix Question -->
											<div
												th:if="${question instanceof T(it.univaq.disim.mwt.apollo.domain.questions.MatrixQuestion)}">
												<!-- If Radio -->
												<div
													th:if="${question.choiceType == T(it.univaq.disim.mwt.apollo.domain.questions.ChoiceType).RADIO}"
													th:replace="~{common/user_view/components/matrix_radio_question.html :: question(question=${question}, stat=${questionStat})}">
												</div>
												<!-- If Check -->
												<!-- <div
													th:if="${question.choiceType == T(it.univaq.disim.mwt.apollo.domain.questions.ChoiceType).CHECK}"
													th:replace="~{common/user_view/components/matrix_check_question.html :: question(question=${question}, stat=${questionStat})}">
												</div> -->
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button type="submit" th:text="#{common.submit}"></button>
		</form>

	</div>
</body>

</html>