<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/user_view/layout/frame_public}">

<body>
	<div layout:fragment="page-content">
		<script th:inline="javascript">
			var readonly = [[${ readonly }]];
			var groupIndex = [[${ groupIndex }]];
			var translations = {
				next: [[#{ common.next }]],
				submit: [[#{ common.submit }]]
			};
		</script>
		<script th:src="@{/script/user_view.js}"></script>
		<script th:src="@{/script/survey_ajax.js}"></script>

    <!-- Listing -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header actions-toolbar">
            <div class="row justify-content-between">
                <!-- Name and description-->
                <div class="col-12">
                    <h3 class="font-weight-400 mt-2">
                        [[${surveyanswer.survey.name}]]
                    </h3>
                    <p id="survey_desc" class="text-lg my2-1 p-1"
                       th:text="${surveyanswer.survey.description}"></p>
                </div>
            </div>
        </div>

        <!-- Form -->
        <div class="card-body pb-0" th:replace="~{common/user_view/form :: form}"></div>

    </div>
</div>

</body>
</html>