<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="footer pt-5 pb-4 footer-light" id="footer-main"
		th:fragment="footer">
		<div class="row text-center text-sm-left align-items-sm-center">
			<div class="col-sm-6">
				<p class="text-sm mb-0">
					&copy; 2019 <a href="https://webpixels.io" class="h6 text-sm"
						target="_blank">Webpixels</a>. All rights reserved.
				</p>
			</div>
			<div class="col-sm-6 mb-md-0">
				<ul class="nav justify-content-center justify-content-md-end">
					<li class="nav-item dropdown border-right">
						<a class="nav-link"
							href="#" 
							role="button" 
							data-toggle="dropdown" 
							aria-haspopup="true"
							aria-expanded="false"> 
							<img 
								alt="Image placeholder" 
								src="(${#locale.language}=='en' ? './dist/img/icons/flags/en.svg' : './dist/img/icons/flags/it.svg'" 
								th:src="(${#locale.language}=='en' ? @{/dist/img/icons/flags/en.svg} : @{/dist/img/icons/flags/it.svg})">
							<span th:text="${#locale.language}=='en' ? #{common.en} : #{common.it} " class="h6 text-sm mb-0"></span>

						</a>
						<div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
							<a href="#" 
								th:href="@{?lang=en}"
								class="dropdown-item"><img
								alt="Image placeholder" 
								src="./dist/img/icons/flags/en.svg"
								th:src="@{/dist/img/icons/flags/en.svg}"	
								class="mr-2">[[#{common.english}]]</a> 
							<a href="#" 
								th:href="@{?lang=it}"
								class="dropdown-item"><img
								alt="Image placeholder" 
								src="./dist/img/icons/flags/it.svg"
								th:src="@{/dist/img/icons/flags/it.svg}"
								class="mr-2">[[#{common.italian}]]</a>
						</div></li>
					<li class="nav-item"><a class="nav-link" href="#">Support</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
					<li class="nav-item"><a class="nav-link pr-0" href="#">Privacy</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>