<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="mt-5 text-sm align-self-end" id="footer-main" th:fragment="footer">	<div class="row text-center">
		<div class="col-12">
			<ul class="nav justify-content-center">
				<li class="nav-item"><a class="nav-link" href="#">Support</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Privacy</a>
				</li>
			</ul>
		</div><div class="col-12 ">
		<p class="text-sm">© 2019 <a href="https://webpixels.io" class="h6 text-sm" target="_blank">Webpixels</a>. All rights reserved.</p>
	</div>


	</div>
	</div>
</body>
</html>


