<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <body>


        <!-- Navbar primary -->
        <nav class="navbar navbar-horizontal d-lg-none navbar-expand-lg navbar-dark bg-primary my-1 pb-0"
             id="navbar-main"
             th:fragment="mainnav">
            <div class="container-fluid pl-2 pr-4 mr-2">

                <div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary"
                            aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a href="#" th:href="@{/surveys/dashboard}">
                        <img class="col-12 logo-mainnav" th:src="@{/dist/img/icons/custom/logo.svg}">
                    </a>

                </div>

                <div class="row">
                    <!-- Avatar -->

                    <h5 class="mb-0 text-white col-auto my-auto mx-auto">
                        [[#{common.hi}]] [[${user.getFirstname()}]]!
                    </h5>

                    <ul class="navbar-nav flex-row align-items-center">

                        <li class="nav-item dropdown dropdown-animate mr-2">
                            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <img class="locale-image"
                                     alt="Image placeholder"
                                     src="(${#locale.language}=='en' ? './dist/img/icons/flags/en.svg' : './dist/img/icons/flags/it.svg'"
                                     th:src="(${#locale.language}=='en' ? @{/dist/img/icons/flags/en.svg} : @{/dist/img/icons/flags/it.svg})">
                            </a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <a href="#" th:href="@{?lang=en}" class="dropdown-item">
                                    <img alt="Image placeholder" src="./dist/img/icons/flags/en.svg"
                                         th:src="@{/dist/img/icons/flags/en.svg}"
                                         class="mr-2">[[#{common.english}]]
                                </a>
                                <a href="#"
                                   th:href="@{?lang=it}"
                                   class="dropdown-item"><img
                                        alt="Image placeholder"
                                        src="./dist/img/icons/flags/it.svg"
                                        th:src="@{/dist/img/icons/flags/it.svg}"
                                        class="mr-2">[[#{common.italian}]]
                                </a>
                            </div>
                        </li>

                        <li class="nav-item dropdown dropdown-animate">
                            <div type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                 aria-haspopup="true" aria-expanded="false">
                                <span class="col-auto px-0 py-0 profile-image-mainnav">
                                    <img alt="Image placeholder"
                                         src="./dist/img/theme/light/team-4-800x800.jpg"
                                         th:src="@{/dist/img/icons/user/user.png}"
                                         th:if="${user.pic == null}">

                                    <img alt="Image placeholder"
                                         src="./dist/img/theme/light/team-4-800x800.jpg"
                                         th:src="${'data:image/jpg;base64,'+user.pic}"
                                         th:if="${user.pic != null}">
                                </span>


                            </div>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/apollo/user/update">
                                    <i class="far fa-user"></i>
                                    <span>Modifica profilo</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="/apollo/logout" class="dropdown-item">
                                    <i class="far fa-sign-out-alt"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>

                    </ul>
                    <div class="dropdown dropdown-animate dropdown-menu-left dropleft">


                    </div>
                </div>

                <div class="collapse navbar-collapse" id="navbar-primary">

                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link"th:classappend="${#request.requestURI == '/apollo/surveys/dashboard' ? 'active':''}"  href="#" th:href="@{/surveys/dashboard}"><i class="far fa-home"></i>Home</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                            <a class="nav-link"th:classappend="${#request.requestURI.startsWith('/apollo/administration') ? 'active':''}" href="#" th:href="@{/administration/users}" ><i class="far fa-users"></i>Users</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </body>
</html>