<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-primary navbar-border"
		id="navbar-main" th:fragment="mainnav">
		<div class="container-fluid">
			<!-- Brand + Toggler (for mobile devices) -->
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbar-main-collapse"
				aria-controls="navbar-main-collapse" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<!-- Navbar nav -->
			<div class="collapse navbar-collapse navbar-collapse-fade"
				id="navbar-main-collapse">
				
				<!-- Right menu -->
				<ul
					class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex" 
					sec:authorize="isAuthenticated()">
					<li class="nav-item dropdown dropdown-animate"><a
						class="nav-link pr-lg-0" href="#" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<div class="media media-pill align-items-center">
								<span class="avatar rounded-circle"> 
								<img
									alt="Image placeholder"
									src="./dist/img/theme/light/team-4-800x800.jpg"
									th:src="@{/dist/img/icons/user/user.png}"
									th:if="${user.pic == null}">
								<img
									alt="Image placeholder"
									src="./dist/img/theme/light/team-4-800x800.jpg"
									th:src="${'data:image/jpg;base64,'+user.pic}"
									th:if="${user.pic != null}">
								</span>
								<div class="ml-2 d-none d-lg-block">
									<span class="mb-0 text-sm  font-weight-bold" sec:authentication="name">John Snow</span>
								</div>
							</div>
					</a>
						<div
							class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
							<h6 class="dropdown-header px-0" th:if="${user.firstname == null || user.firstname == ''}">[[#{common.hi}]] [[${user.username}]]!</h6>
							<h6 class="dropdown-header px-0" th:if="${user.firstname != null && user.firstname != '' }">[[#{common.hi}]] [[${user.firstname}]]!</h6>
							<a class="dropdown-item" href="#" th:href="@{/user/update}"> <i class="far fa-user"></i>
								<span th:text="#{common.updateprofile}">My profile</span>
							</a> 
							<div class="dropdown-divider"></div>
							<a href="#!" class="dropdown-item" th:href="@{/logout}"> 
								<i class="far fa-sign-out-alt"></i> <span>Logout</span>
							</a>
						</div></li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>