<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <body>

        <!-- Sidenav -->
        <div class="sidenav fixed-content show ml-4" id="sidenav-main" th:fragment="sidenav" sec:authorize="isAuthenticated()">

            <!-- Sidenav header -->
            <div class="sidenav-header d-flex mt-2">
                <div class="row mx-auto">
                    <a href="#" th:href="@{/surveys/dashboard}">
                    <img class="col-12 logo my-auto mx-auto" th:src="@{/dist/img/icons/custom/logo.svg}">
                    <!--			<h5 th:text="#{common.applicationtitle}">Apollo</h5>-->
                    </a>


                </div>
            </div>

            <div class="col-12">
                <!-- Sidenav toggler -->
                <div class="sidenav-toggler sidenav-toggler-dark d-md-none"
                     data-action="sidenav-unpin" data-target="#sidenav-main">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line bg-white"></i>
                        <i
                                class="sidenav-toggler-line bg-white"></i>
                        <i
                                class="sidenav-toggler-line bg-white"></i>
                    </div>
                </div>
            </div>
            <!-- User mini profile -->
            <div class="sidenav-user d-flex flex-column align-items-center justify-content-between text-center">
                <!-- Avatar -->
                        <div class="row">

                            <h5 class="mb-0 text-white col-auto my-auto mx-auto">
                                [[#{common.hi}]] 
                                <span th:if="${user.firstname != null && user.firstname != ''}" th:text="${user.firstname}"></span>
                                <span th:if="${user.firstname == null || user.firstname == ''}" th:text="${user.username}"></span>!
                            </h5>

                            <nav class="navbar mx-0 my-0 ml-1 force-padding-0 col-auto" id="navbar-main">
                                <div class="container-fluid">
                                    <!-- User's navbar -->
                                    <div class="navbar-user">
                                        <ul class="navbar-nav flex-row align-items-center">
                                            <li class="nav-item dropdown dropdown-animate">
                                                <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-cog text-white"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                                    <a class="dropdown-item" href="/apollo/user/update">
                                                        <i class="far fa-user"></i>
                                                        <span>Modifica profilo</span>
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a href="/apollo/logout" class="dropdown-item">
                                                        <i class="far fa-sign-out-alt"></i>
                                                        <span>Logout</span>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>

                        </div>

                        <div class="row mt-n5">
                            <span class="col-auto px-0 py-0 profile-image">
                                <img alt="Image placeholder"
                                     src="./dist/img/theme/light/team-4-800x800.jpg"
                                     th:src="@{/dist/img/icons/user/user.png}"
                                     th:if="${user.pic == null}">

                                <img alt="Image placeholder"
                                     src="./dist/img/theme/light/team-4-800x800.jpg"
                                     th:src="${'data:image/jpg;base64,'+user.pic}"
                                     th:if="${user.pic != null}">
                            </span>


                        </div>

                <!-- User info -->
                <!-- Actions -->
                <div class="w-100 mt-4 actions d-flex justify-content-center">

                    <a href="#" th:href="@{/surveys/dashboard}" class="btn btn-square text-sm active">
                        <span class="btn-inner--icon d-block">
                            <i class="far fa-home fa-1x"></i>
                        </span>
                        <span class="btn-inner--icon d-block pt-2">Home</span>
                    </a>

                    <a id="create_survey" class="btn btn-square text-sm"
                       th:onclick="getSurveyRequest([[@{/surveys/create}]], '#modal-create-new-survey', null)">
                        <span class="btn-inner--icon d-block">
                            <i class="far fa-plus"></i>
                        </span>
                        <span class="btn-inner--icon d-block pt-2">New</span>
                    </a>

<!--                    <a href="./home.html" class="btn btn-square text-sm">-->
<!--                        <span class="btn-inner&#45;&#45;icon d-block">-->
<!--                            <i class="far fa-tasks"></i>-->
<!--                        </span>-->
<!--                        <span class="btn-inner&#45;&#45;icon d-block pt-2">Home</span>-->
<!--                    </a>-->
                </div>
                <!--                <div class="w-100 mt-4 actions d-flex justify-content-between">-->
                <!--                    <a href="./home.html" class="btn btn-square text-sm">-->
                <!--                        <span class="btn-inner&#45;&#45;icon d-block">-->
                <!--                            <i class="far fa-columns"></i>-->
                <!--                        </span>-->
                <!--                        <span class="btn-inner&#45;&#45;icon d-block pt-2">Home</span>-->
                <!--                    </a>-->
                <!--                    <a href="./home.html" class="btn btn-square text-sm">-->
                <!--                        <span class="btn-inner&#45;&#45;icon d-block">-->
                <!--                            <i class="far fa-home"></i>-->
                <!--                        </span>-->
                <!--                        <span class="btn-inner&#45;&#45;icon d-block pt-2">Home</span>-->
                <!--                    </a>-->
                <!--                    <a href="./home.html" class="btn btn-square text-sm">-->
                <!--                        <span class="btn-inner&#45;&#45;icon d-block">-->
                <!--                            <i class="far fa-home"></i>-->
                <!--                        </span>-->
                <!--                        <span class="btn-inner&#45;&#45;icon d-block pt-2">Home</span>-->
                <!--                    </a>-->
                <!--                </div>-->
            </div>
            <!-- Application nav -->
            <!-- <div class="nav-application clearfix">
                <a href="./home.html" class="btn btn-square text-sm active"> <span
                    class="btn-inner--icon d-block"><i class="far fa-home fa-2x"></i></span>
                    <span class="btn-inner--icon d-block pt-2">Home</span>
                </a>
                <a href="./project/card-listing.html" class="btn btn-square text-sm">
                    <span class="btn-inner--icon d-block"><i
                        class="far fa-project-diagram fa-2x"></i></span> <span
                    class="btn-inner--icon d-block pt-2">Projects</span>
                </a> <a href="./task/table-listing.html" class="btn btn-square text-sm">
                    <span class="btn-inner--icon d-block"><i
                        class="far fa-tasks fa-2x"></i></span> <span
                    class="btn-inner--icon d-block pt-2">Tasks</span>
                </a> <a href="./task/kanban-board.html" class="btn btn-square text-sm">
                    <span class="btn-inner--icon d-block"><i
                        class="far fa-columns fa-2x"></i></span> <span
                    class="btn-inner--icon d-block pt-2">Kanban</span>
                </a> <a href="./user/card-listing.html" class="btn btn-square text-sm">
                    <span class="btn-inner--icon d-block"><i
                        class="far fa-users-cog fa-2x"></i></span> <span
                    class="btn-inner--icon d-block pt-2">Users</span>
                </a> <a href="./user/profile.html" class="btn btn-square text-sm"> <span
                    class="btn-inner--icon d-block"><i
                        class="far fa-user-ninja fa-2x"></i></span> <span
                    class="btn-inner--icon d-block pt-2">Profile</span>
                </a> <a href="./shop/invoices.html" class="btn btn-square text-sm"> <span
                    class="btn-inner--icon d-block"><i
                        class="far fa-receipt fa-2x"></i></span> <span
                    class="btn-inner--icon d-block pt-2">Invoices</span>
                </a> <a href="./widgets.html" class="btn btn-square text-sm"> <span
                    class="btn-inner--icon d-block"><i class="far fa-cogs fa-2x"></i></span>
                    <span class="btn-inner--icon d-block pt-2">Widgets</span>
                </a>
            </div>
     -->

            <!-- Footer -->
            <div th:replace="~{common/layout/footer :: footer}"></div>

        </div>


    </body>
</html>