<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="card-body pb-0" th:fragment="group" title="group-container">

	<!-- GROUP CONTAINER -->
	<h5 class="mb-1">[[${groupInfo.title}]]</h5>
	<h6 class="mb-3">[[${groupInfo.description}]]</h6>

	<div class="card border mb-0 shadow-none bg-gray-100">
		<div class="card-body row align-items-center mx-2 justify-content-center">

			<!-- GROUP CONTENTS -->
			<div class="col-12" th:each="question, stat : *{groupInfo.questions}">

				<!-- If Choice Question -->
				<th:block th:if="${question instanceof T(it.univaq.disim.mwt.apollo.domain.questions.ChoiceQuestion)}">
					<th:block th:if="${question.choiceType == T(it.univaq.disim.mwt.apollo.domain.questions.ChoiceType).RADIO}">
						<div th:replace="/common/surveys/components/questions/single_choice.html :: singleChoice(question=${question}, stat=${stat})"></div>
					</th:block>
					<th:block th:unless="${question.choiceType == T(it.univaq.disim.mwt.apollo.domain.questions.ChoiceType).RADIO}">
						<div th:replace="/common/surveys/components/questions/multi_choice.html :: multiChoice(question=${question}, stat=${stat})"></div>
					</th:block>
				</th:block>

				<!-- If Input Question -->
				<th:block th:if="${question instanceof T(it.univaq.disim.mwt.apollo.domain.questions.InputQuestion)}">
					<th:block th:if="${question.type == T(it.univaq.disim.mwt.apollo.domain.questions.InputType).TEXT}">
						<div th:replace="common/surveys/components/questions/text_input.html :: inputQuestion(question=${question}, stat=${stat})"></div>
					</th:block>
					<th:block th:if="${question.type == T(it.univaq.disim.mwt.apollo.domain.questions.InputType).TEXTAREA}">
						<div th:replace="common/surveys/components/questions/text_area_input.html :: areaQuestion(question=${question}, stat=${stat})"></div>
					</th:block>
				</th:block>
			
			</div>

			<!-- ADD QUESTION BUTTON -->
			<div class="container">

				<div class="row justify-content-md-center">

					<div class="col-auto">
						<a data-toggle="collapse" th:href="@{#collapseExample} + ${groupInfo.id}">
							<div class="col-auto">
								<div class="icon icon-primary btn-sm rounded-circle icon-shape">
									<i class="far fa-plus"></i>
								</div>
							</div>
						</a>
					</div>

				</div>


				<div class="row collapse" th:id="@{collapseExample} + ${groupInfo.id}">

					<div class="col-12 mt-4 mb-0">
						<div class="row justify-content-md-center align-items-center">

							<!-- Single choice question -->
							<a href="#" th:onClick="openQuestionModal([[@{/questions/choicequestion/create}]], [[${T(it.univaq.disim.mwt.apollo.domain.questions.ChoiceType).RADIO}]],
							'#modal-new-choice-question', [[${groupInfo.id}]])">
								<div
									class="row question-selector justify-content-md-center hover-scale-110 mx-2">
									<div class="col-12 align-self-center">
										<div class="col-12">
											<img alt="Radio Question"
												th:src="@{/dist/img/icons/custom/radio_single.svg}">
										</div>
										<div class="col-12">
											<span th:text="#{question.radioquestion}"></span>
										</div>

									</div>
								</div>
							</a>
							
							<!-- Multi choice question -->
							<a href="#" th:onClick="openQuestionModal([[@{/questions/choicequestion/create}]], [[${T(it.univaq.disim.mwt.apollo.domain.questions.ChoiceType).CHECK}]],
							'#modal-new-choice-question', [[${groupInfo.id}]])">
								<div class="row question-selector justify-content-md-center hover-scale-110 mx-2">
									<div class="col-12 align-self-center">
										<div class="col-12">
											<img alt="Radio Question"
												th:src="@{/dist/img/icons/custom/check_single.svg}">
										</div>
										<div class="col-12">
											<span th:text="#{question.checkquestion}"></span>
										</div>

									</div>
								</div>
							</a>


							<a href="#"
							   th:onclick="openQuestionModal([[@{/questions/inputquestion/create}]],
							   null, '#modal-input-question', [[${groupInfo.id}]])"
							   data-toggle="modal">
								<div
									class="row question-selector justify-content-md-center hover-scale-110 mx-2">
									<div class="col-12 align-self-center">
										<div class="col-12">
											<img alt="Radio Question"
												th:src="@{/dist/img/icons/custom/input_text.svg}">
										</div>
										<div class="col-12">
											<span>Input Text Question</span>
										</div>

									</div>
								</div>
							</a>


							<div
								class="row question-selector justify-content-md-center hover-scale-110 mx-2">
								<div class="col-12 align-self-center">
									<div class="col-12">
										<img alt="Radio Question"
											th:src="@{/dist/img/icons/custom/radio_multi.svg}">
									</div>
									<div class="col-12">
										<span>Matrix Radio Question</span>
									</div>

								</div>
							</div>


							<div
								class="row question-selector justify-content-md-center hover-scale-110 mx-2">
								<div class="col-12 align-self-center">
									<div class="col-12">
										<img alt="Radio Question"
											th:src="@{/dist/img/icons/custom/check_multi.svg}">
									</div>
									<div class="col-12">
										<span>Matrix Check Question</span>
									</div>

								</div>
							</div>


						</div>

					</div>

				</div>

			</div>

		</div>
	</div>
</div>
</body>
</html>