<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="modal fade" id="modal-publish-survey" tabindex="-1" role="dialog" aria-hidden="true"
        th:fragment="surveyPublish">
        <script th:inline="javascript">
            $(function () {
                // Tooltip inizialize
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
        <div class="modal-dialog modal-dialog-centered modal" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <div class="modal-title align-items-center">
                        <!-- MODAL TITLE -->
                        <h6 class="mb-0" th:if="${!survey.active}">[[#{survey.publishtitle}]]</h6>
                        <h6 class="mb-0" th:if="${survey.active}">[[#{survey.disabletitle}]]</h6>
                    </div>
                </div>

                <!-- Body -->
                <div class="modal-body">

                    <div class="row">
                        <div class="col-11">
                            <span class="form-control-label">[[#{common.publiclink}]]</span>
                            <input id="urlId" type="text" class="form-control"
                                th:value="${survey.urlId != null ? survey.urlId : ''}"
                                th:placeholder="#{survey.publishplaceholder}" readonly />
                        </div>
                        <div class="col-1 mt-4 p-2">
                            <a href="#" th:onclick="copyToClipboard('urlId')" data-toggle="tooltip"
								title="Copy to clipboard"><i
                                    class="far fa-copy fa-2x"></i></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 py-2">
                            <div class="loader"></div>
                            <div id="result_message"
                                class="text-center text-xs text-muted mt-2">
                                <span id="success_message"
                                    class="font-weight-bold text-success hidden">[[#{common.surveypublished}]]</span>
                                <span id="error_message"
                                    class="font-weight-bold text-danger hidden">[[#{common.surveydisabled}]]</span>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Footer -->
                <div class="modal-footer">
                    <button id="modal_dismiss" type="button" data-dismiss="modal" class="btn btn-sm btn-link text-danger"
                        th:text="#{common.cancel}"></button>
                    <button id="publish_submit" type="button" name="#{common.disable}" translate="yes" class="btn btn-sm btn-primary rounded-pill"
                        th:text="#{${survey.active ? 'common.disable' : 'common.publish'}}"
                        th:onclick="sendPublish([[@{/surveys/publish}]], [[${survey}]])"></button>

                </div>

            </div>
        </div>
    </div>

</body>

</html>