<!-- Question Group Modal Form -->
<div class="modal fade" id="modal-create-new-group" role="dialog" th:fragment="questionGroupForm">

	<div class="modal-dialog">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" th:text="#{common.newQuestionGroup}"></h4>
			</div>
			<div class="modal-body">
				<form id="question_group_form" th:action="@{/questiongroups/create}" th:object="${group}" class="form-horizontal" method="post">
					<input type="hidden" name="survey_id" th:value="${survey_id}">
					<div class="card-body">
						<div class="form-group row">
							<label for="title" class="col-sm-2 col-form-label" th:text="#{group.title}"></label>
							<div class="col-sm-6">
								<input type="text" th:field="*{title}" class="form-control" required/>
								<span th:if="${#fields.hasErrors('title')}" th:each="err: ${#fields.errors('title')}" th:utext="${err}"></span>
							</div>
						</div>
						<div class="form-group row">
							<label for="description" class="col-sm-2 col-form-label" th:text="#{group.description}"></label>
							<div class="col-sm-6">
								<input type="text" th:field="*{description}" class="form-control" />
							</div>
						</div>
					</div>
					<div class="card-footer">
						<button id="question_group_submit" type="submit" class="btn btn-info" th:text="#{common.submit}"></button>
						<a id="back_to_detail" href="#" class="btn btn-default float-right" th:text="#{common.cancel}"></a>	
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>
