<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{common/layout/frame_public}">

<body>
    <div layout:fragment="page-content">
        <!-- <script th:src="@{/script/survey_ajax.js}"></script> -->
        <script th:src="@{/script/overview.js}"></script>

        <div class="col-md-12">
            <div id="modal_holder"></div>
        </div>

        <div class="page-title">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                    <!-- Page title + Go Back button -->
                    <div class="d-inline-block p-1 mr-2">
                        <a href="#" th:href="@{/surveys/dashboard}" class="link d-inline-block font-weight-400 mb-0 text-white"><i
                                class="fas fa-arrow-left"></i></a>
                    </div>
                    <div class="d-inline-block p-1">
                        <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">[[${survey.name}]]</h5>
                    </div>
                    
                </div>
                <!-- Additional info -->
                <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-sm-12">
                <div class="row">
                    <!-- stats card 1 -->
                    <div class="col-xl-6 col-sm-6">
                        <!-- Stats card -->
                        <div class="card card-stats border-0">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="text-muted mb-1">[[#{common.answers}]]</h6>
                                        <span class="h3 font-weight-bold mb-0 ">31</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="progress-circle progress-sm" id="progress-circle-1" data-progress="100" data-text="100%"
                                            data-color="success" style="position: relative;">
                                            <svg viewBox="0 0 100 100" style="display: block;">
                                                <path d="M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93" stroke="#eee"
                                                    stroke-width="2" fill-opacity="0"></path>
                                                <path d="M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93" stroke="#36b37e"
                                                    stroke-width="7" fill-opacity="0"
                                                    style="stroke-dasharray: 292.273, 292.273; stroke-dashoffset: 00.000;"></path>
                                            </svg>
                                            <div class="progressbar-text"
                                                style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(54, 179, 126);">
                                                100%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <!-- Stats card 2 -->
                    <div class="col-xl-6 col-sm-6">
                        <!-- Stats card -->
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="text-muted mb-1">New tasks</h6>
                                        <span class="h3 font-weight-bold mb-0 ">34</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="progress-circle progress-sm" id="progress-circle-2" data-progress="60"
                                            data-text="60%" data-color="primary" style="position: relative;"><svg viewBox="0 0 100 100"
                                                style="display: block;">
                                                <path d="M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93" stroke="#eee"
                                                    stroke-width="2" fill-opacity="0"></path>
                                                <path d="M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93"
                                                    stroke="#6e00ff" stroke-width="7" fill-opacity="0"
                                                    style="stroke-dasharray: 292.273, 292.273; stroke-dashoffset: 116.909;"></path>
                                            </svg>
                                            <div class="progressbar-text"
                                                style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(110, 0, 255);">
                                                60%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Question Overview -->
                    <div class="col-xl-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row justify-content-between">
                                    <div class="col-4">
                                        <label class="form-control-label">Question</label>
                                        <select id="question_select" class="custom-select">
                                            <option id="default_option" value="" selected="true">-- None --</option>

                                        </select>
                                    </div>
                                    <div class="col-5">
                                        <label class="form-control-label">Question Group</label>
                                        <select id="group_select" class="custom-select">
                                            <option value="" selected="true">-- None --</option>
                                            <th:block th:if="${groups != null && groups.size() > 0}">
                                                <option th:each="group, stat : ${groups}" th:value="${group.id}">[[${group.title}]]</option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <!-- Question Title -->
                                <div class="row">
                                    <div class="col-12">
                                        <span id="question_title" class="text-sm text-muted">
                                            Seleziona un gruppo e una domanda.
                                        </span>
                                    </div>
                                </div>
                    
                                <!-- Answers -->
                                <div class="my-3">

                                    <div class="row mb-2">
                                        <div class="col-9">
                                            <div class="progress-wrapper">
                                                <span class="progress-label text-muted text-sm">Logo design</span>
                                                <div class="progress mt-1 mb-2" style="height: 5px;">
                                                    <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                                        aria-valuemax="100" style="width: 40%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3 align-self-end text-right">
                                            <span class="h6 mb-0">40%</span>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-9">
                                            <div class="progress-wrapper">
                                                <span class="progress-label text-muted text-sm">Website mockup</span>
                                                <div class="progress mt-1 mb-2" style="height: 5px;">
                                                    <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="67" aria-valuemin="0"
                                                        aria-valuemax="100" style="width: 67%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3 align-self-end text-right">
                                            <span class="h6 mb-0">67%</span>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-9">
                                            <div class="progress-wrapper">
                                                <span class="progress-label text-muted text-sm">Landing page</span>
                                                <div class="progress mt-1 mb-2" style="height: 5px;">
                                                    <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="89" aria-valuemin="0"
                                                        aria-valuemax="100" style="width: 89%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3 align-self-end text-right">
                                            <span class="h6 mb-0">89%</span>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-9">
                                            <div class="progress-wrapper">
                                                <span class="progress-label text-muted text-sm">Mobile testing</span>
                                                <div class="progress mt-1 mb-2" style="height: 5px;">
                                                    <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                                        aria-valuemax="100" style="width: 55%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3 align-self-end text-right">
                                            <span class="h6 mb-0">55%</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Survey overview -->
            <div class="col-xl-6 col-sm-12">
                <div class="row">
                    <div class="col-xl-12 col-sm-12">
                        <div class="card card-fluid">
                            <div class="card-header">
                                <h6 class="mb-0">[[#{survey.overview}]]</h6>
                            </div>
                            <div class="card-body py-3 flex-grow-1">
                                <!-- Progress -->
                                <div class="pb-3 mb-3 border-bottom">
                                    <div class="row align-items-center">
                                        <div class="col-12 text-center">
                                            <!-- Avatar -->
                                            <div class="avatar rounded-circle avatar-lg">
                                                <img th:if="${survey.icon != null}" alt="User Icon" src="data:image/;base64,${survey.icon.data.data}"/>
                                                <img th:if="${survey.icon == null}" alt="Image Default" src="/apollo/dist/img/theme/light/brand-avatar-3.png">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- Description -->
                                <p class="text-sm mb-0">[[${survey.description}]]</p>
                            </div>

                            <div class="card-footer py-0">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <span class="form-control-label">[[#{survey.secret}]]:</span>
                                            </div>
                                            <div class="col-6 text-right">
                                                <span id="survey_secret" th:if="${survey.secret}" class="text-right badge badge-success badge-pill mx-2">[[#{common.yes}]]</span>
                                                <span id="survey_secret" th:if="${!survey.secret}" class="text-right badge badge-danger badge-pill mx-2">No</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item px-0">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <span class="form-control-label">[[#{common.published}]]:</span>
                                            </div>
                                            <div class="col-6 text-right">
                                                <span id="survey_active" th:if="${survey.active}" class="text-right badge badge-success badge-pill mx-2">[[#{common.yes}]]</span>
                                                <span id="survey_active" th:if="${!survey.active}" class="text-right badge badge-danger badge-pill mx-2">No</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item px-0">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <span class="form-control-label">[[#{common.publiclink}]]</span>
                                            </div>
                                            <div class="col-6 text-right">
                                                <span id="urlId" class="text-right" th:text="${survey.urlId != null ? survey.urlId : ''}"></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item px-0">
                                        <div class="row justify-content-between">
                                            <div class="col-6">
                                                <small>[[#{survey.startDate}]]</small>
                                                <div class="h6 mb-0" th:if="${survey.startDate != null}" th:text="${#temporals.format(survey.startDate)}"></div>
                                                <div class="h6 mb-0" th:text="#{not.provided}" th:if="${survey.startDate == null}"></div>
                                            </div>
                                            <div class="col-3">
                                                <small>[[#{survey.endDate}]]</small>
                                                <div class="h6 mb-0" th:if="${survey.endDate != null}" th:text="${#temporals.format(survey.endDate)}"></div>
                                                <div class="h6 mb-0" th:text="#{not.provided}" th:if="${survey.endDate == null}"></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            
        </div>

        <!-- Answers list -->
        <div class="row">
            <div class="col-xl-12">
                <!-- Listing -->
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="mb-0">[[#{common.answerlist}]]</h6>
                            </div>
                            <div class="col-auto">
                                <div class="actions">
                                    <a href="#!" class="action-item">
                                        <i class="far fa-file-export"></i>
                                        <span class="d-none d-sm-inline-block mr-4">Export</span>
                                    </a>
                                    <a href="#!" class="action-item">
                                        <i class="far fa-print"></i>
                                        <span class="d-none d-sm-inline-block">Print</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table" id="survey_table" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th th:text="#{answer.name}">Name</th>
                                    <th>Email</th>
                                    <th th:text="#{answer.groups}">Groups</th>
                                    <th th:text="#{answer.totanswers}">Tot Answers</th>
                                    <th th:text="#{answer.completion}">Completion</th>
                                    <th th:text="#{common.submitteddate}">Submitted Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!-- ./Answers list-->
        <script th:inline="javascript">
            $(document).ready(function () {
                $('#survey_table').DataTable({
                    "columns": [
                        { 
                            "data": "name",
                            "render": function (data, type, row, meta) {
                                if (row.name) {
                                    return '<div class="media-body ml-3"><a href="#" class="name mb-0 h6 text-sm">' + row.name + '</a></div>';
                                } else {
                                    return '<div class="media-body ml-3"><a href="#" class="name mb-0 h6 text-sm">' + row.id + '</a></div>';
                                }      
                            }
                        },
                        {
                            "data": "email",
                            "render": function (data, type, row, meta) {
                                return '<span class="d-block text-sm text-muted mb-3">' + row.email + '</a>';
                            }
                        },
                        { 
                            "data": "groupAnswers",
                            "render": function (data, type, row, meta) {
                                let elem = '';
                                for (let item of row.groupAnswers) {
                                    elem += '<a href="#" class="badge badge-secondary">' + item.group.title + '</a>'
                                }
                                return elem;
                            }
                        },
                        {
                            "data": "totAnswers"
                        },
                        {
                            "data": "completion",
                            "render": function (data, type, row, meta) {
                                return '<div class="d-flex align-items-center"><span class="completion mr-2">70%</span><div><div class="progress" style="width: 100px;"><div class="progress-bar bg-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div></div></div></div>';
                            }
                        },
                        { 
                            "data": "date",
                            "render": function (data, type, row, meta) {
                                let submittedDate = new Date(row.date);
                                return '<span>' + submittedDate.getDate() + '/' + (submittedDate.getMonth() + 1) + '/' + submittedDate.getFullYear() + '</span>';
                            }
                        }
                    ],
                    "ajax": {
                        "url": "[(@{/answers/survey/findbysurveypaginated})]" + "?id=[(${survey.id})]"
                    },
                });
            });
        </script>
    </div>

</body>

</html>