<div class="min-vh-100 h-100vh py-5 d-flex align-items-center bg-gradient-dark">
    <div class="bg-absolute-cover vh-100 overflow-hidden d-none d-md-block">
        <figure class="w-100">
            <img alt="Image placeholder" src="../../assets/img/svg/backgrounds/bg-4.svg" class="svg-inject">
        </figure>
    </div>
    <div class="container position-relative zindex-100">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <h6 class="display-4 mb-3 text-white font-weight-600">Maintenance mode</h6>
                <p class="lead text-lg text-white mb-5">
                    Amazing things are only achieved through hard work.
                </p>
                <a href="../index.html" class="btn btn-white btn-icon rounded-pill hover-translate-y-n3">
                    <span class="btn-inner--icon"><i class="far fa-phone"></i></span>
                    <span class="btn-inner--text">Contact us</span>
                </a>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <figure class="w-100">
                    <img alt="Image placeholder" src="../../assets/img/svg/illustrations/instruction-manual.svg" class="svg-inject opacity-8 img-fluid" style="height: 500px;">
                </figure>
            </div>
        </div>
    </div>
</div>