<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- MULTI CHOICE QUESTION -->
<div class="col-12" th:fragment="matrixQuestion">
	<div class="row align-items-center mx-0 justify-content-center">
		<div class="col-1"></div>
		<div class="col-8 card border shadow-none p-3">
			<!-- TITLE -->
			<div class="m-1">
				<h6 class="mb-0" th:text="${stat.index +1} + '. ' + ${question.title}"></h6>
			</div>
			<div class="m-1" th:if="${question.file != null}">
				File: [[${question.file.name}]]
			</div>

			<div class="row">
				<div class="col-12 px-2 py-2">


					<div id="accordion-contents" class="accordion accordion-stacked">

						<!-- Accordion card 1 -->
						<div class="card shadow-none">
							<div class="card-header py-4 shadow-none" id="heading-1-1" data-toggle="collapse" role="button" data-target="#collapse-themes" aria-expanded="false" aria-controls="collapse-themes">
								<h6 class="mb-0"><i class="far fa-file-pdf mr-3"></i>Questions</h6>
							</div>
							<div id="collapse-themes" class="collapse" aria-labelledby="heading-1-1" data-parent="#accordion-contents">
								<div class="card-body">

									<!-- QUESTIONS OPTIONS -->
									<div th:each="question, stat : ${question.questions}" class="custom-control custom-checkbox">
										<span th:text="${question}"></span>
									</div>

								</div>
							</div>
						</div>

						<!-- Accordion card 2 -->
						<div class="card shadow-none">
							<div class="card-header py-4 shadow-none" id="heading-1-2" data-toggle="collapse" role="button" data-target="#collapse-values" aria-expanded="false" aria-controls="collapse-1-2">
								<h6 class="mb-0"><i class="far fa-lock mr-3"></i>Values</h6>
							</div>
							<div id="collapse-values" class="collapse" aria-labelledby="heading-1-2" data-parent="#accordion-contents">
								<div class="card-body">
									<!-- VALUES OPTIONS -->
									<div th:each="value, stat : ${question.questionValues}" class="custom-control custom-radio">

											<input type="radio" class="custom-control-input" th:id="'customCheck' + ${stat.index}">
											<label class="custom-control-label" th:for="'customCheck' + ${stat.index}" th:text="${value}"></label>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="col-1 card border-0 shadow-none bg-gray-100">
			<div class="dropdown" data-toggle="dropdown">
				<a href="#" class="action-item" role="button" data-toggle="dropdown"
				   aria-haspopup="true" aria-expanded="false"> <i
						class="far fa-cog"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a href="#"
					   th:onClick="openQuestionModal([[@{/questions/matrixquestion/update}]], [[${question.type}]],'#modal-matrix-question', [[${question.id}]])"
					   class="dropdown-item">Edit</a>
					<a href="#"
					   th:onClick="openQuestionModal([[@{/questions/matrixquestion/delete}]], null,'#modal-delete-question', [[${question.id}]])"
					   class="dropdown-item text-danger">Delete</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
