<!-- MULTI CHOICE QUESTION -->
<div class="col-12">
	<div class="row align-items-center mx-0 justify-content-center">
		<div class="col-1"></div>
		<div class="col-8 card border shadow-none p-3">
			<form>
				<div class="align-items-center">
					<label class="form-control-label">Input text Question</label>
					<div>
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input"
								id="customCheck1"> <label class="custom-control-label"
								for="customCheck1">Mele</label>
						</div>

						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input"
								id="customCheck2"> <label class="custom-control-label"
								for="customCheck2">Banane</label>
						</div>

						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input"
								id="customCheck3"> <label class="custom-control-label"
								for="customCheck3">Arance</label>
						</div>

						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input"
								id="customCheck4"> <label class="custom-control-label"
								for="customCheck4">Limoni</label>
						</div>

					</div>
				</div>
			</form>

		</div>
		<div class="col-1 card border-0 shadow-none bg-gray-100">
			<div class="dropdown" data-toggle="dropdown">
				<a href="#" class="action-item" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> <i
					class="far fa-cog"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a href="#" class="dropdown-item">Edit</a> <a href="#"
						class="dropdown-item text-danger">Delete</a>
				</div>
			</div>
		</div>
	</div>
</div>