<!-- MULTI CHOICE QUESTION -->
<div class="col-12" th:fragment="multiChoice">
	<div class="row align-items-center mx-0 justify-content-center">
		
		<div class="col-10 card border shadow-none p-3">
			<!-- TITLE -->
			<div class="m-1">
				<h6 class="mb-0" th:text="${stat.index +1} + '. ' + ${question.title}"></h6>
			</div>
			<!-- OPTIONS -->
			<div th:each="option, stat : ${question.options}" class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" th:id="'customCheck' + ${stat.index}"> 
				<label class="custom-control-label" th:for="'customCheck' + ${stat.index}" th:text="${option}"></label>
			</div>

			<!-- Other -->
			<div th:if="${question.otherChoice}" class="custom-control">
				<input type="text" class="custom-control-input" id="other_choice" th:placeholder="#{question.otherChoice}"> 
				<label class="custom-control-label" for="other_choice" th:text="#{question.otherChoice}"></label>
			</div>
		</div>

		<div class="col-1 card border-0 shadow-none bg-gray-100">
			<div class="dropdown" data-toggle="dropdown">
				<a href="#" class="action-item" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> <i
					class="far fa-cog"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a href="#"
						th:onClick="openQuestionModal([[@{/questions/choicequestion/update}]], [[${question.choiceType}]],'#modal-new-choice-question', [[${question.id}]])"
						class="dropdown-item">Edit</a>
					<a href="#"
						th:onClick="openQuestionModal([[@{/questions/choicequestion/delete}]], null,'#modal-delete-question', [[${question.id}]])"
						class="dropdown-item text-danger">Delete</a>
				</div>
			</div>
		</div>
	</div>
</div>