<!-- SELECT CHOICE QUESTION -->
<div class="col-12">
	<div class="row align-items-center mx-0 justify-content-center">
		<div class="col-1"></div>
		<div class="col-8 card border shadow-none p-3">
			<form>
				<div class="align-items-center">
					<label class="form-control-label">Select Question</label> <select
						class="custom-select">
						<option selected>Open this select menu</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>
			</form>
		</div>
		<div class="col-1 card border-0 shadow-none bg-gray-100">
			<div class="dropdown" data-toggle="dropdown">
				<a href="#" class="action-item" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> <i
					class="far fa-cog"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a href="#" class="dropdown-item">Edit</a> <a href="#"
						class="dropdown-item text-danger">Delete</a>
				</div>
			</div>
		</div>
	</div>
</div>
