<html  xmlns:th="http://www.thymeleaf.org">
<body>
<!-- SINGLE CHOICE QUESTION -->
<div class="col-12" th:fragment="singleChoice">

	<div class="row align-items-center mx-0 justify-content-center">

		<div class="col-11 card border shadow-none p-3">
			<!-- TITLE -->
			<div class="m-1">
				<h6 class="mb-0" th:text="${stat.index +1} + '. ' + ${question.title}"></h6>
			</div>
			<div class="row align-items-center mx-0 mt-2 mb-2 justify-content-center">

				<div class="col-auto" th:if="${question.file != null}">
					<div class="question-image">

						<img class="rounded" th:src="${'data:image/png;base64,'+question.file.data}">

					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-12 px-3 py-2">
					<!-- OPTIONS -->
					<div th:each="option, stat : ${question.options}" class="custom-control custom-radio">
						<input type="radio" th:id="'customRadio' + ${stat.index}" name="customRadio" class="custom-control-input" disabled>
						<label class="custom-control-label" th:for="'customRadio'+${stat.index}" th:text="${option}"></label>
					</div>

					<!-- Other -->
					<div  class="custom-control custom-radio" th:if="${question.otherChoice}">
						<input type="radio" th:id="@{other_choice-} + ${question.id}" name="customRadio" class="custom-control-input" disabled>
						<label class="custom-control-label" th:for="@{other_choice-} + ${question.id}"><div class="border-bottom custom-input-text" >[[#{question.otherchoiceplaceholder}]]</div></label>

					</div>
				</div>
			</div>

		</div>

		<div class="col-auto card border-0 shadow-none bg-gray-100 modify">
			<div class="dropdown" data-toggle="dropdown">
				<a href="#" class="action-item" role="button" data-toggle="dropdown"
				   aria-haspopup="true" aria-expanded="false"> <i
						class="far fa-cog"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a href="#"
					   th:onClick="openQuestionModal([[@{/questions/choicequestion/update}]], [[${question.choiceType}]], '#modal-new-choice-question', [[${question.id}]] )"
					   class="dropdown-item">Edit</a>
					<a href="#"
					   th:onClick="openQuestionModal([[@{/questions/choicequestion/delete}]], null, '#modal-delete-question', [[${question.id}]])"
					   class="dropdown-item text-danger">Delete</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>

