<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- TEXT QUESTION -->
<div class="col-12" th:fragment="inputQuestion">
    <div class="row align-items-center mx-0 justify-content-center">

        <div class="col-11 card border shadow-none p-3">
            <!-- TITLE -->
            <div class="m-1">
                <h6 class="mb-0" th:text="${stat.index +1} + '. ' + ${question.title}"></h6>
            </div>
            <div class="row align-items-center mx-0 mt-2 mb-2 justify-content-center">

                <div class="col-auto" th:if="${question.file != null}">
                    <div class="question-image">

                        <img class="rounded" th:src="${'data:image/png;base64,'+question.file.data}">

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-12 px-3 py-2">

                    <div th:if="${question.type == T(it.univaq.disim.mwt.apollo.domain.questions.InputType).TEXT}" class="row">
                        <div class="icon icon-sm text-dark col-auto mt-1">
                            <i class="fas fa-font"></i>
                        </div>
                        <span class="col-auto ml-2 my-auto">Simple Text input</span>
                    </div>

                    <div th:if="${question.type == T(it.univaq.disim.mwt.apollo.domain.questions.InputType).TEXTAREA}" class="row">
                        <div class="icon icon-sm text-dark col-auto mt-1">
                            <i class="fas fa-font"></i>
                        </div>
                        <span class="col-auto ml-2 my-auto">Text Area input</span>
                    </div>

                    <div th:if="${question.type == T(it.univaq.disim.mwt.apollo.domain.questions.InputType).DATE}" class="row">
                        <div class="icon icon-sm text-dark col-auto mt-1">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                        <span class="col-auto ml-2 my-auto">Date input</span>
                    </div>

                    <div th:if="${question.type == T(it.univaq.disim.mwt.apollo.domain.questions.InputType).NUMBER}" class="row">
                        <div class="icon icon-sm text-dark col-auto mt-1">
                            <i class="fas fa-tally"></i>
                        </div>
                        <span class="col-auto ml-2 my-auto">Number input</span>
                    </div>


                    <!--                    <input th:type="${question.type}" class="form-control"-->
                    <!--                           th:unless="${question.type == T(it.univaq.disim.mwt.apollo.domain.questions.InputType).TEXTAREA}" disabled/>-->
                    <!--                    <textarea class="form-control" rows="3" resize="none"-->
                    <!--                              th:if="${question.type == T(it.univaq.disim.mwt.apollo.domain.questions.InputType).TEXTAREA}" disabled></textarea>-->
                </div>
            </div>
        </div>

        <div class="col-auto card border-0 shadow-none bg-gray-100">
            <div class="dropdown" data-toggle="dropdown">
                <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"> <i class="far fa-cog"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="#"
                       th:onClick="openQuestionModal([[@{/questions/inputquestion/update}]], [[${question.type}]], '#modal-input-question', [[${question.id}]] )"
                       class="dropdown-item">Edit</a>
                    <a href="#"
                       th:onClick="openQuestionModal([[@{/questions/inputquestion/delete}]], null, '#modal-delete-question', [[${question.id}]])"
                       class="dropdown-item text-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>