<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/layout/frame_public}">

<body>
<div layout:fragment="page-content">

    <div class="col-12">
        <div id="modal_holder"></div>
    </div>

    <!-- Page title -->
    <div class="page-title my-4 mx-2">

        <div class="row justify-content-between align-items-center">
            <div class="col-auto pl-1 d-flex">
                <!-- Page title + Go Back button -->
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">[[#{common.surveys}]]</h5>
                </div>
            </div>

            <div class="col-auto d-flex justify-content-md-end">
                <a id="create_survey" href="#"
                   th:onclick="getSurveyRequest([[@{/surveys/create}]], '#modal-create-new-survey', null)"
                   class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4 mr-4">
						<span class="btn-inner--icon">
							<i class="far fa-plus"></i>
						</span>
                </a>
                <ul class="nav justify-content-center justify-content-md-end">
                    <li class="nav-item dropdown">
                        <a class="locale-image"
                           href="#"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <img alt="Image placeholder"
                                 src="(${#locale.language}=='en' ? './dist/img/icons/flags/en.svg' : './dist/img/icons/flags/it.svg'"
                                 th:src="(${#locale.language}=='en' ? @{/dist/img/icons/flags/en.svg} : @{/dist/img/icons/flags/it.svg})">

                        </a>
                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                            <a href="#"
                               th:href="@{?lang=en}"
                               class="dropdown-item"><img
                                    alt="Image placeholder"
                                    src="./dist/img/icons/flags/en.svg"
                                    th:src="@{/dist/img/icons/flags/en.svg}"
                                    class="mr-2">[[#{common.english}]]</a>
                            <a href="#"
                               th:href="@{?lang=it}"
                               class="dropdown-item"><img
                                    alt="Image placeholder"
                                    src="./dist/img/icons/flags/it.svg"
                                    th:src="@{/dist/img/icons/flags/it.svg}"
                                    class="mr-2">[[#{common.italian}]]</a>
                        </div>
                    </li>
                </ul>
            </div>


        </div>
    </div>
    <!-- Listing -->
    <div class="card">

        <!-- Table -->

        <div class="table-responsive">
            <table class="table" id="survey_table" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th th:text="#{survey.icon}">Icon</th>
                    <th th:text="#{survey.name}">Name</th>
                    <th th:text="#{survey.status}">Status</th>
                    <th th:text="#{survey.secret}">Private</th>
                    <th th:text="#{survey.creationDate}">Creation Date</th>
                    <th th:text="#{common.action}">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {
            $('#survey_table').DataTable({
                "language": {
                    "emptyTable": "No data available in table"
                },
                "columns": [{
                    "data": "icon",
                    "render": function (data, type, row, meta) {
                        if (row.icon) {
                            return '<img class="avatar  rounded-circle" src="data:image/;base64,' +
                                row.icon.data + '"/>';
                        }
                        return '<img class="avatar  rounded-circle" src="[(@{/dist/img/theme/light/brand-avatar-3.png})]"/>';
                    }
                },
                    {
                        "data": "name",
                        "render": function (data, type, row, meta) {
                            return '<a href="[(@{/surveys/overview})]/' + row.id + '" class="name mb-0 h6 text-md">' + row.name + '</a>';
                        }
                    },
                    {
                        "data": "active",
                        "render": function (data, type, row, meta) {
                            return '<span class="badge badge-dot mr-4"><i class="' + (row.active ? 'bg-success' : 'bg-danger') + '"></i><span class="status">' + (row.active ? [[#{common.active}]] : [[#{common.inactive}]]) +
                                '</span></span>';
                        }
                    },
                    {
                        "data": "secret",
                        "render": function (data, type, row, meta) {
                            return '<span class="badge badge-dot mr-4"><i class="' + (row.secret ?
                                'bg-success' : 'bg-danger') + '"></i><span class="status">' + (
                                row.secret ? 'Yes' : 'No') + '</span></span>';
                        }
                    },
                    {
                        "data": "creationDate",
                        "render": function (data, type, row, meta) {
                            let creationDate = new Date(row.creationDate);
                            return '<span>' + creationDate.getDate() + '/' + (creationDate
                                .getMonth() + 1) + '/' + creationDate.getFullYear() + '</span>';
                        }
                    },
                    {
                        "data": "action",
                        "searchable": false,
                        "sortable": false,
                        "defaultContent": "",
                        "render": function (data, type, row, meta) {
                            let links = '<a href="[(@{/surveys/detail/})]' + row.id +
                                '" data-toggle="tooltip" title="Detail"><i class="far fa-clipboard"></i></a>';
                            
                            if(!row.active){
                            	 links += '  |  ' +
                                 '<a href="#" data-toggle="tooltip" title="Delete" onclick="getSurveyRequest(\'\/apollo\/surveys\/delete\', \'#modal-delete-survey\', \'' +
                                 row.id + '\')"><i class="fas fa-trash"></a>';
                            }
                            return links;
                        }
                    }
                ],
                "ajax": {
                    "url": "[(@{/surveys/findallpaginated})]"
                },
            });
        });
    </script>
</div>
</body>

</html>