<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/user_view/components/layout/single_answer}">
<body>
<div layout:fragment="question">
    <div class="row">
        <div class="col-10 mx-1 px-2 py-3">
            <!-- OPTIONS -->
            <div th:each="option, stat : ${question.options}" class="custom-control custom-radio">
                <input type="radio" th:id="'customRadio' + ${stat.index}" name="customRadio"
                       class="custom-control-input">
                <label class="custom-control-label" th:for="'customRadio'+${stat.index}"
                       th:text="${option}"></label>
            </div>

            <!-- Other -->
            <div th:if="${question.otherChoice}" class="bootstrap-tagsinput">
                <!-- <label class="form-control-label" for="other_choice" th:text="#{question.otherChoice}"></label> -->
                <input type="text" class="form-control" id="other_choice" name="other_choice" size="45"
                       th:placeholder="#{question.otherchoiceplaceholder}">
            </div>
        </div>
    </div>
</div>
</body>
</html>


