<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="textQuestion">
    <label>
        <input th:type="${question.type}" class="form-control"
               th:field="*{groupAnswers[__${groupStat.index}__].singleAnswers[__${singleAnswerIndex.index}__].answer}"
               th:unless="${question.type == T(it.univaq.disim.mwt.apollo.domain.questions.InputType).TEXTAREA}"/>
    </label>

    <textarea class="form-control" rows="3" resize="none"
              th:if="${question.type == T(it.univaq.disim.mwt.apollo.domain.questions.InputType).TEXTAREA}"
              th:field="*{groupAnswers[__${groupStat.index}__].singleAnswers[__${singleAnswerIndex.index}__].answer}">
    </textarea>
</div>
</body>
</html>