<tr>
	<td>
		<div class="media align-items-center">

			<!-- SURVEY ICON -->
			<img alt="Image placeholder"
				src="./dist/img/theme/light/brand-avatar-1.png"
				class="avatar  rounded-circle">

			<!-- SURVEY NAME -->
			<div class="media-body ml-4">
				<a href="overview.html" class="name mb-0 h6 text-sm">Survey 1</a>
			</div>
		</div>
	</td>

	<!-- SURVEY STATUS -->
	<td><span class="badge badge-dot mr-4"> <i
			class="bg-warning"></i> <span class="status">Online</span>
	</span></td>

	<!-- NUMBER OF COMPLETIONS -->
	<td class="budget">1000</td>

	<!-- MANAGE ICON -->
	<td class="text-right">
		<div class="dropdown" data-toggle="dropdown">
			<a href="#" class="action-item" role="button" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false"> <i
				class="far fa-ellipsis-h"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-right">
				<a href="#" class="dropdown-item">Refresh</a> <a href="#"
					class="dropdown-item">Disable</a> <a href="#" class="dropdown-item">Delete</a>
			</div>
		</div>
	</td>
</tr>