<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="question">
		<!-- MULTI CHOICE QUESTION -->
		<div class="row"
			th:each="checkAnswer, stat : *{choiceQuestionMultiAnswers}"
			th:if="${checkAnswer.question.id == question.id}">

			<!-- Related Question -->
			<input type="hidden"
				th:field="*{choiceQuestionMultiAnswers[__${stat.index}__].question}">

			<div class="col-12">
				<!-- OPTIONS -->
				<div th:each="option, optionStat : ${question.options}" class="custom-control custom-checkbox" th:id="@{question_} + ${stat.index}">
					<input type="checkbox" class="custom-control-input"
						th:field="*{choiceQuestionMultiAnswers[__${stat.index}__].answers}"
						th:value="${option}" th:disabled="${readonly}" th:required="${question.mandatory}">
					<label
						th:for="choiceQuestionMultiAnswers+${stat.index}+.answers+${optionStat.index+1}"
						th:text="${option}" class="custom-control-label"></label>
				</div>

				<!-- Other -->
				<div th:if="${question.otherChoice}" class="bootstrap-tagsinput">

					<!-- Other -->
					<div class="custom-control custom-checkbox" th:if="${question.otherChoice}">
						<input type="checkbox"
							   name="customCheckbox" class="custom-control-input"
							   th:id="@{other_choice-} + ${question.id}"
							   th:field="*{choiceQuestionMultiAnswers[__${stat.index}__].answers}"
							   th:value="null"
							   th:disabled="${readonly}"
							   th:required="${question.mandatory}">
						<label class="custom-control-label pl-0 col-12" th:for="@{other_choice-} + ${question.id}">
							<div class="border-bottom custom-input-text">
								<input type="text" th:name="@{other_choice-} + ${question.id}"  placeholder="Type something..."  oninput="otherChoiceValueSetter(this)">
							</div>
						</label>
					</div>

				</div>
			</div>

			<!-- Error container -->
			<div class="col-12 mt-3">
				<span class="error-message" th:id="Error_choiceQuestionMultiAnswers + ${stat.index}" th:if="${question.mandatory}" th:utext="@{*} + #{NotBlankQuestion}"></span>
			</div>
		</div>
	</div>

</body>
</html>