<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="question">
		<div class="row"
			th:each="matrixAnswer, stat : *{multiChoiceMatrixAnswers}"
			th:if="${matrixAnswer.question == question}">

			<!-- Related Question -->
			<input type="hidden"
				th:field="*{multiChoiceMatrixAnswers[__${stat.index}__].question}">

			<table class="table table-cards align-items-center" width="100%"
				cellspacing="0">
				<!-- Show options label -->
				<thead>
					<tr class="table-divider">
						<th scope="col"></th>
						<th th:each="optionValue : ${question.optionValues}" scope="col">
							[[${optionValue}]]</th>
					</tr>
				</thead>
				<!-- Show questions -->
				<tbody>
					<span th:each="option, optionStat : ${question.options}">
						<tr>
							<th scope="row">[[${option}]]</th>
							<td th:each="optionValue : ${question.optionValues}">
								<input
								type="checkbox"
								th:field="*{multiChoiceMatrixAnswers[__${stat.index}__].answer[__${option}__].matrixAnswerValues}"
								th:value="${optionValue}" 
								th:disabled="${readonly}"/>
							</td>
						</tr>
						<tr class="table-divider"></tr>
					</span>
				</tbody>
			</table>

		</div>
	</div>
</body>
</html>