<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="question">
		<div th:each="selectAnswer, stat : *{selectionQuestionAnswers}"
			th:if="${selectAnswer.question.id == question.id}" class="row">

			<!-- Related question -->
			<input type="hidden"
				th:field="*{selectionQuestionAnswers[__${stat.index}__].question}">

			<div class="col-12">
				<label class="form-control-label">[[#{question.options}]]</label> 
				<select
					class="custom-select"
					th:field="*{selectionQuestionAnswers[__${stat.index}__].answer}"
					th:disabled="${readonly}">
					<option th:each="option, optionStat : ${question.options}"
						th:value="${option}" th:text="${option}"
						th:selected="${optionStat.index == 0} ? 'selected' : null"></option>
				</select>
			</div>
		</div>
	</div>
</body>
</html>