<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="question">
		<div th:each="inputAnswer, inputAnswerStat : *{inputQuestionAnswers}" th:if="${inputAnswer.question == question}">
			<input type="hidden" th:field="*{inputQuestionAnswers[__${inputAnswerStat.index}__].question}">
			<input type="text" 
				class="form-control"
				th:field="*{inputQuestionAnswers[__${inputAnswerStat.index}__].answer}"
				th:unless="${question.type == T(it.univaq.disim.mwt.apollo.domain.questions.InputType).TEXTAREA}">
			
			<textarea class="form-control" rows="3" resize="none"
				th:if="${question.type == T(it.univaq.disim.mwt.apollo.domain.questions.InputType).TEXTAREA}"
				th:field="*{groupAnswers[__${groupStat.index}__].singleAnswers[__${singleAnswerIndex.index}__].answer}"></textarea>
		</div>
	</div>
</body>
</html>