
<!-- MODAL NEW QUESTION GROUP-->
<div class="modal fade" id="modal-create-new-group" tabindex="-1"
	role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<!-- Project name -->
				<div class="form-group">
					<label class="form-control-label"> Group name </label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-link text-danger">Cancel</button>
				<button type="button" class="btn btn-sm btn-primary rounded-pill "
					data-dismiss="modal">Save</button>
			</div>
		</div>
	</div>
</div>