<!-- MODAL NEW CHOICE QUESTION -->
<div class="modal fade" id="modal-choice-question" tabindex="-1"
	role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title align-items-center">
					<div>

						<!-- MODAL TITLE -->
						<h6 class="mb-0">Question with choice</h6>

					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">

							<!-- QUESTION TEXT -->
							<label class="form-control-label">Question:</label>
							<textarea class="form-control" data-toggle="autosize"
								placeholder="This textarea will autosize while you type"
								rows="1"></textarea>
								
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12">

						<!-- OPTIONS TEXT -->
						<label class="form-control-label">Options:</label>
						
						<!-- Option have to be placed here -->

						<!-- OPTIONS BLOCK -->
						<div class="row form-group">
							<div class="col-11">
								<input class="form-control" type="text"
									placeholder="Write an option">
							</div>
							<!-- DELETE BUTTON -->
							<div class="col-1 align-self-center">
								<i class="far fa-trash text-danger"></i>
							</div>
						</div>

						<!-- ADD BUTTON BLOCK -->
						<div class="row justify-content-center align-items-center">
							<button type="button"
								class="btn btn-sm btn-soft-primary btn-icon rounded-pill">
								<span class="btn-inner--icon">
									<i class="far fa-plus"></i>
								</span>
								<!-- ADD OPTION BUTTON -->
								<span class="btn-inner--text">Add Option</span>
							</button>
						</div>

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-link text-danger">Cancel</button>
				<button type="button" class="btn btn-sm btn-primary rounded-pill "
					data-dismiss="modal">Save</button>
			</div>
		</div>
	</div>
</div>