<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="input-file-container" th:fragment="inputfile">

    <div id="accordion-file" class="accordion accordion-spaced">

        <div class="card border shadow-none">
            <div class="card-header shadow-none no-border force-padding-10 bg-primary text-white" id="heading-1-3"
                 data-toggle="collapse" role="button" data-target="#collapse-file-input" aria-expanded="false"
                 aria-controls="collapse-file-input">
                <div class="mb-0 form-control-label text-white">
                    <i class="far fa-cog mr-3"></i>
                    [[#{question.advanced}]]
                </div>
            </div>
            <div id="collapse-file-input" class="collapse" aria-labelledby="heading-1-3" data-parent="#accordion-file">
                <div class="card-body shadow-none">

                    <div class="col-12">
                        <!-- Mandatory -->
                        <div class="form-group custom-control custom-switch">
                            <input type="checkbox" id="mandatory" name="mandatory" class="custom-control-input" th:field="*{mandatory}"/>
                            <label class="custom-control-label form-control-label" for="mandatory" th:text="#{question.mandatory}"></label>
                            <span th:if="${#fields.hasErrors('mandatory')}" th:each="err: ${#fields.errors('mandatory')}" th:utext="${err}"></span>
                        </div>
                    </div>

                    <input id="delete_file" name="deleteFile" type="hidden" value="false"/>

                    <!--Creation case-->
                    <div class="form-control-label">
                        <input type="file" id="questionfile" name="questionfile" class="custom-input-file"
                               th:value="${questionfile}" accept="image/*"/>
                        <label for="questionfile"><i class="fa fa-upload"></i><span id="questionfile_label"
                                                                                    th:text="#{file.label}"></span>
                        </label>
                        <span id="file_error" class="text-danger text-sm hidden"></span>
                    </div>

                    <!--Update case-->
                    <div id="update_case" class="form-control-label mt-3" th:if="${question.id != null}">
                        <div th:if="${question.file != null}">
                            <input id="file_input" type="hidden" th:field="*{file}"/>
                            <div class="row">

                                <small class="col-11 my-auto">
                                    <b>File:</b> [[*{file.name}]]
                                </small>

                                <div class="col-1 my-auto">

                                    <a href="#" th:onclick="deleteImage(event)">
                                        <i class="far fa-trash text-danger"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">

        $(document).ready(function () {
            document.getElementById('questionfile').onchange = function () {
                var filename = this.files[0].name;
                var label = document.getElementById('questionfile_label');
                label.innerText = filename;
                console.log('Selected file: ' + filename);
            };
        });
    </script>
</div>


</body>

</html>